.wrapper{
    padding-left: 20px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.6rem;

    .page-title{
        border-bottom: 2px solid #eeeeee;
        margin-top: 0;
        margin-bottom: 4rem;
        padding-bottom: 1.5rem;
        font-weight: 500;
    }


    .cart-inner{
        width: 100%;
        
        .message{
            width: 100%;
            padding: 1em 2em 1em 1em;
            margin: 0 0 2em;
            font-size: 1.6rem;
            background-color: #06a67e ;
            border-left: 5px solid #006700 ;
            color: white;

            .message-icon{
                margin-right: 20px;
                color: white;
                font-size: 18px;
                
                
            }

            .undo{
                font-weight: 600;
                text-decoration: underline;
                margin-left: 3px;
                cursor: pointer;
            }
        }

        .cart-emty{
                width: 100%;
                padding: 1em 2em 1em 1em;
                margin: 0 0 2em;
                background-color: #3D9CD2 ;
                border-left: 5px solid #2e90c7 ;
                color: white;
        }

        .cart-table{
            width: 100%;
            //table-layout: fixed;
            border: 2px solid rgba(0,0,0,.1);
            text-align: left;
            border-collapse: separate;

            th{
                font-weight: 700 ;
                padding: 9px 12px;
                line-height: 2rem;
                text-align: left;
            }

            td{
                padding: 10px 12px;
                border-top: 1px solid rgba(0,0,0,.1);
            }
            .product-remove{
                width: 50px;
                padding: 0 20px;

                .btn-remove{
                    background-color: transparent;
                    font-size: 2rem;
                    color: #888888;
                
                }
            }

            .product-thumbnail{
                width: 50px;
                img{
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .product-name{
               
            }

            .product-price{
                width: 10%;
            }

            .product-quantity{
                width: 15%;
                input{
                        width: 75%;
                        height: 48px;
                        border: 2px solid #eeeeee;
                        border-radius: 5px;
                        padding: 6px 12px;
                        margin-right: 10px;
                        text-align: center;
                        font-size: 18px;
                        font-size: 1.8rem;
                }
            }

            .product-subtotal{
                width: 10%;
            }

           
           .action{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                .coupon{
                    display: flex;

                    input{
                        box-sizing: border-box;
                        border: 2px solid #d3ced2;
                        font-size: 1.6rem;
                        border-radius: 3px;
                        padding: 6px 6px 5px;
                        margin: 0 4px 0 0;
                        outline: 0;
                        &:focus{
                            border-color: #66afe9;
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
                        }
                    }

                    button{
                        background-color: #eeeeee;
                        margin-left: 5px;
                        padding: 6px 20px;
                        color: #515151;
                        font-size: 1.6rem;
                        font-weight: normal;
                        border-radius: 3px;


                        &:hover{
                                background-color: #e2e2e2;
                        }
                    }
                }


                .btn-updateCart{
                    background-color: #eeeeee;
                        margin-left: 5px;
                        padding: 6px 20px;
                        color: #515151;
                        font-size: 1.6rem;
                        font-weight: normal;
                        border-radius: 3px;


                        &:hover{
                                background-color: #e2e2e2;
                        }
                }
           }
        

        }


        .return-shop{
            padding: .618em 1em;
            font-weight: 700;
            border-radius: 3px;
            left: auto;
            color: #515151;
            background-color: #ebe9eb;
            border: 0;
            width: 150px;

            &:hover{
                background-color: #dfdcde;
                color: #515151;
            }
        }
    }
}