.wrapper{
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ef376e;
    z-index: 10;
}

.inner{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>h1{
        color: white;
    }

    &>button{
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 16px;
        color: rgb(216, 68, 19);
        &:hover{
            color: white;
            background-color: #0a9878 ;
            cursor: pointer;
        } 
    }
}